body {
    font-family: 'arial narrow';
    text-align: center;
    padding: 20px;
    background: black;
}

h5{
    font-size: 60px;
    overflow: hidden; 
    border-right: 3px solid rosybrown; 
    white-space: nowrap; 
    width: 0; 
    animation: typewriter 3s steps(20) 8s forwards, blinky 0.75s step-end infinite;
    z-index: 21;
    -webkit-text-stroke-color: black;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
  

@keyframes typewriter {
    0% { 
      width: 0;
    }
    100% {
      width: 48%;
    }
}

@keyframes blinky {
    from, to { 
        border-color: transparent;
    }
    50% { 
        border-color:rosybrown; 
    }
}


/* Heart Animation */
#heart-animation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rosybrown;
    font-style: italic;
    z-index: 10;
    animation: glitch 3s 17s infinite;
}

.pixel {
    width: 40px;
    height: 40px;
    background: rgb(120, 94, 94);
    position: absolute;
    opacity: 0;
    animation: pixelAnimation 12s forwards 5s;
    z-index:20;
}


.p {
    width:40px;
    height:40px;
    background-color:rgb(97, 72, 72);
    position: absolute;
    opacity: 0;
    animation: pixelAnimation 12s forwards 5.5s;
    z-index:19;
}

.q {
    width:40px;
    height:40px;
    background-color:rgb(62, 54, 54);
    position: absolute;
    opacity: 0;
    animation: pixelAnimation 12s forwards 6.5s;
    z-index:18;
}


@keyframes pixelAnimation {
    0% {
        opacity: 0;
        transform: scale(1) translate(0, 0);
    }
    20% {
        opacity: 0.8;
        transform: scale(1) translate(330px, 0);
    }
    40% {
        opacity: 0.8;
        transform: scale(1) translate(-330px, 0);
    }
    60% {
        opacity: 0.8;
        transform: scale(1.1) translate(300px, 0); /* float effect */
    }
    100% {
        opacity: 0;
        transform: scale(0.8) translate(-300px, 0); /* float away */
    }
}

@keyframes gradient {
    0% {
        background: linearGradient(rosybrown, black);
    }

    25% {
        background: linearGradient(black, rosybrown);
    }

    50% {
        background: linearGradient(rosybrown, black);
    }

    75% {
        background: linearGradient(black, rosybrown);
    }
    100% {
        background: linearGradient(rosybrown, black);
    }
}

/*@keyframes glitch {
    0%{
        background: url("./glitch.png");
    }

    10%{
        background: black;
    }

    40%{
        background: url("./glitch2.png");
    }

    74%{
        background:black;
    }
    75%{
        background: url("./blackglitch.png");
    }

    80%{
        background:black;
    }
}*/
